:root {
    --header-height: 60px;
}

.App {
    width: 100%;
    height: 100%;
}

.AppBar {
    position: fixed;
    top: 0;
    left: 0;
    
    margin: 0;
    
    box-sizing: border-box;
    width: 100%;
    height: var(--header-height);
    padding: 20px;
    
    background-color: rgb(13, 145, 197);
    color: white;
    
    display: flex;
    justify-content: left;
    align-items: center;
}
.AppBar>:not(:last-child) {
    margin-right: 2em;
}

.AppBar__title {
    font-size: 1em;
    font-weight: normal;
}

.AppBar__link {
    text-decoration: underline;
    color: inherit;
}

main {
    margin-top: var(--header-height);
}

.Post {
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #777;
}

.Post__title {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: 0.4em;
}

.UserIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    margin: 0 0 10px;
}

.UserIcon__image {
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.UserIcon__username {
    font-size: 0.85em;
}

.Feed {
    padding: 20px;
}

.Profile {
    padding: 20px;
    display: inline-block;
}

.Profile__container {
    text-align: center;
}

.Profile__head {
    display: flex;
    font-size: 20px;
    height: 150px;
    text-align: left;
}

.Profile__image {
    border-radius: 50%;
    width: 150px;
    margin-right: 20px;
}

.Profile__names {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Profile__name {
    font-weight: bold;
    margin-bottom: 0.2em;
}

.Profile__username {
    font-style: italic;
    color: #555;
}

.Profile__info {
    display: inline-block;
    margin: 30px 0;
    text-align: left;
}
.Profile__info>dt {
    /* inline-block so that we can use margins */
    display: inline-block;
    margin: 0.4em;
}
.Profile__info>dd {
    display: inline;
}
.Profile__info>dd::after {
    content: "";
    display: block;
}