:root {
    --header-height: 60px;
}

.App {
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(-30deg, #eafff6 0%, #f9d5fd 100%);
}

.AppBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
    margin: 0;
    
    box-sizing: border-box;
    width: 100%;
    height: var(--header-height);
    padding: 20px;
    
    /*background-color: rgb(13, 145, 197);
    color: white;*/
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 16px 0px rgba( 31, 38, 135, 0.37 );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    
    /*backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );*/
    
    display: flex;
    justify-content: left;
    align-items: center;
}
.AppBar>:not(:last-child) {
    margin-right: 2em;
}

.AppBar__title {
    font-size: 1em;
    font-weight: normal;
}

.AppBar__link {
    text-decoration: underline;
    color: inherit;
}

main {
    margin-top: var(--header-height);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
}



.Feed {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.NetworkMessage {
    display: inline-block;
    
    margin: 1em 0;
    
    padding: 20px;
    
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 16px 0px rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Profile {
    display: inline-block;
    
    margin: 1em 0 0;
    
    max-width: 100%;
    box-sizing: border-box;
    
    padding: 20px;
    
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 16px 0px rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Profile__container {
    padding: 20px;
    text-align: center;
}

.Profile__head {
    display: flex;
    font-size: 20px;
    text-align: left;
}

.Profile__image {
    border-radius: 50%;
    width: 150px;
    margin-right: 20px;
}

.Profile__names {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Profile__name {
    font-weight: bold;
    margin-bottom: 0.2em;
}

.Profile__username {
    font-style: italic;
    color: #555;
}

.Profile__info {
    display: inline-block;
    margin: 1em 0 0;
    text-align: left;
}
.Profile__info>dt {
    /* inline-block so that we can use margins */
    display: inline-block;
    margin: 0.4em;
}
.Profile__info>dd {
    display: inline;
}
.Profile__info>dd::after {
    content: "";
    display: block;
}

@media only screen and (max-width: 425px) {
    .Profile__head {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .Profile__image {
        margin: 0;
    }
    .Profile__names {
        margin-top: 1em;
    }
    .Profile__info>dt {
        display: block;
    }
}